<!DOCTYPE html>

<html>
  <head>
    <title>RPG Utility Server</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" integrity="sha512-NiWqa2rceHnN3Z5j6mSAvbwwg3tiwVNxiAQaaSMSXnRRDh5C2mk/+sKQRw8qjV1vN4nf8iK2a0b048PnHbyx+Q==" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <h3>
        Build a character
      </h3>
      <form method="post" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="name" name="name" type="text" required />
            <label for="name">Name</label>
          </div>
          <div class="input-field col s6">
            <input id="title" name="title" type="text" required />
            <label for="title">Title</label>
          </div>
        </div>
        <div class="row">
          
        </div>
      </form>
    </div>
  </body>
</html>