<!DOCTYPE html>

<html>
  <head>
    <title>RPG Utility Server</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A==" crossorigin="anonymous" />
  </head>
  <body>
    <div class="container">
      <h3>
        RPG Links
      </h3>
      <ul>
        <li><a href="/character">Build a character</a></li>
      </ul>
    </div>
  </body>
</html>